body
   font-family: 'SF Pro Display', sans-serif
   background: white
   font-weight: 400
   font-size: 14px
   line-height: 22px
   color: black
a
   text-decoration: none
   box-sizing: border-box
   transition: 0.5s !important
   &:hover 
      color: $yel
.yel
   color: $yel
.container
   padding: 0 15px
   max-width: 1276px
   margin: 0 auto
   @media ( max-width: 1199px )
      max-width: 960px
   @media (max-width: 991px)
      max-width: 720px
   @media (max-width: 767px)
      max-width: 540px
.d-flex, .q
   display: flex
.body-wrap
   overflow: hidden
   position: relative
   display: flex
   flex-direction: column
   min-height: 100vh
footer
   margin-top: auto
h1
   font-size: 62px
   font-weight: 800
   color: #ffffff
   line-height: 74px
   margin: 0
h2 
   font-size: 62px
   line-height: 77px
   font-weight: 800
   color: #000000
   margin: 0
ul 
   margin: 0
   padding: 0
   list-style-type: none
p
   margin: 0
.svg, rect, line, circle
   transition: 0.5s ease
a
   transition: color 0.5s ease
   box-sizing: border-box
li
   a
      transition: color 0.5s ease
button
   cursor: pointer
   box-sizing: border-box
textarea
   transition: border 0.5s
   box-sizing: border-box
   &:focus
      transition: border 0.5s
      outline: none
      border: 1px solid $yel
input
   transition: 0.5s
   box-sizing: border-box
   border: 1px solid #fff
   &:disabled
      pointer-events: none
      opacity: 0.5
   &:focus 
      border: 1px solid $yel 
      transition: 0.5s
   &:focus-visible
      outline: initial
path
   transition: fill 0.5s, stroke 0.5s
div 
   box-sizing: border-box
.icon 
   transition: fill 0.5s, stroke 0.5s
html * 
   scrollbar-width: thin
   scrollbar-color: blue $yel
.popup__bg, .arcticmodal-overlay, .arcticmodal-container
   scrollbar-width: thin
   scrollbar-color: transparent transparent
*::-webkit-scrollbar,
html *::-webkit-scrollbar 
   height: 7px
   width: 7px
*::-webkit-scrollbar-track,
html *::-webkit-scrollbar-track 
   background: #E7E7E7
   border-radius: 3px
*::-webkit-scrollbar-thumb,
html *::-webkit-scrollbar-thumb 
   background-color: $yel
   border-radius: 6px
.btn 
   display: flex
   align-items: center
   justify-content: center
   transition: 0.5s
   box-sizing: border-box
   width: 274px
   height: 59px
   background: $yel
   border-radius: 60px
   font-size: 17px
   font-weight: 800
   color: #000000
   line-height: 18px
   &:hover 
      color: black
      background: white
      .svg 
         path 
            fill: $yel
   .svg 
      margin-right: 13px
   &_2
      background: white
      &:hover
         background: $yel
         color: #000
