@media screen and (max-width: 1199px)
   .menu-btn, .menu
      display: block
   .menu-btn 
      width: 48px
      height: 24px
      position: absolute
      right: 26px
      top: -9px
      z-index: 11
      overflow: hidden
      background: url(/img/bur1.png) no-repeat center center
      &.active 
         background: url(/img/bur2.svg) no-repeat center center
   .menu 
      position: fixed
      top: 0
      left: 0
      width: 100%
      height: 100%
      padding: 100px 40px 
      background: #030303
      transform: translateX(-100%)
      transition: transform 0.5s
      z-index: 10
      overflow: hidden
      &.active
         transform: translateX(0%)
   .nav__info, .nav__list, .switch
      display: none
   .nav__top
      background: black
   .nav .menu-btn
      top: -51px
      right: 0
   .nav__box
      position: relative
   .main__back
      display: none
   h1 
      font-size: 52px
      line-height: 120%
   .main
      padding-top: 74px
   .main__text
      font-size: 14px
      line-height: 22px
   .main__btn 
      margin: 44px 0 0 0
      width: 300px
      height: 49px
   .info, .help, .cases
      padding: 50px 0
   .info__top
      margin-bottom: 36px
      flex-direction: column
   .info__top p
      font-size: 14px
      line-height: 22px
      margin-top: 14px
   h2 
      font-size: 44px
      line-height: 48px
   .info__row a 
      width: 48.3%
      padding: 33px
   .info__row a span
      font-size: 14px
   .help__box
      flex-direction: column
   .help__row
      width: 100%
   .help__area
      width: 100%
      padding: 54px 30px 36px
   .help__area p
      margin-bottom: 40px
   .help__area a
      margin-bottom: 40px
   .cases h2
      margin-bottom: 40px
   .tabs__item
      width: 48.3%
   .team__row
      height: 591px
   .order__light 
      top: -66px
      left: -336px
   .order__sub
      font-size: 14px
   .order__text
      margin-bottom: 138px
   .order__form input
      font-size: 20px
   .order__flex
      margin-top: 36px
   .footer
      padding-top: 56px
   .footer__text 
      gap: 25px
      flex-wrap: wrap
   .footer__list
      gap: 26px
   .footer 
      .cont
         padding-bottom: 40px 
         position: relative
   .footer__links
      display: none
   .footer__socials
      position: absolute
      bottom: 21px
      left: 16px
   .footer__top
      width: 50%
   .footer__flex
      flex-direction: column 
      align-items: flex-start
   .footer__right p
      margin-left: 0
      margin-top: 25px
   .order
      padding: 50px 0
   .banner 
      padding: 340px 0 44px
   .banner h1 
      font-size: 44px
      font-weight: 800
      line-height: 44px
      text-align: left
      padding-right: 0
   .banner h1 span
      display: block
      margin-top: 10px
      text-align: left
      right: 0
   .banner__flex
      margin-top: 44px
      flex-direction: column-reverse
      align-items: flex-start
   .banner__info
      margin-top: 130px
   .banner__info span
      font-size: 64px
      line-height: 64px
   .info2 .info2__top
      margin-bottom: 40px
   .how
      padding: 50px 0
   .how__wrap
      flex-direction: column
   .how__block 
      padding: 60px 32px 56px
      width: 100%
   .how__block h3
      justify-content: center
   .how__sub
      margin-bottom: 235px
   .how__box
      width: 100%
      display: flex
      flex-direction: column-reverse
   .how__area
      margin: 18px 0
   .how__top
      margin-bottom: 0
   .call
      padding: 50px 0
   .rev
      padding: 0px 0 50px
      .container 
         padding-bottom: 126px
         position: relative
   .rev__yandex
      position: absolute
      bottom: 0
      left: 15px
   .rev__top
      margin-bottom: 36px
   .pag
      margin-top: 40px
   .menu__fig
      display: none
   .menu
      padding: 100px 20px
   .menu h2
      margin-bottom: 70px
   .back
      margin-bottom: 50px
   .menu__list
      gap: 40px 
   .page__row
      flex-direction: column 
      align-items: flex-start
   .page__row .main__btn
      margin-top: 40px
   .info-page .info__row a
      padding: 20px
   .info-page .info__row a span
      font-size: 16px
      line-height: 16px
   .info-page__row
      left: 20px
   .help-page .help__block
      width: 48.2%
   .team-page h2
      margin-bottom: 40px
   .team-page, .faq
      padding: 50px 0
   .faq .accordeon
      margin-top: 40px
   .faq .accordeon__button 
      padding: 25px 30px
      font-size: 24px
      line-height: 29px
      padding-right: 120px
   .faq .panel__info
      padding-top: 5px
      padding-left: 30px
      padding-right: 100px
      box-sizing: border-box
   .news__nav
      display: none
   .news__item
      width: 49%
   .news__item img, .news__item:after
      height: 211px
   .news__item span
      margin-bottom: 163px
   .news
      padding: 60px 0
@media ( max-width: 991px )
   .news h1
      margin-bottom: 40px
   .news__item
      width: 100%
   input, textarea, select
      -webkit-appearance: none
      -moz-appearance: none
      appearance: none
   h1 
      font-size: 44px
   .tabs__btns
      flex-wrap: wrap
   .tabs__item h3
      font-size: 24px
      line-height: 32px
   .tabs__item
      padding: 30px
   .tabs__sub
      margin-bottom: 40px
   .team__row
      height: auto
      display: flex
      flex-direction: column
   .team__item:nth-child(1)
      height: 591px
      order: 1
   .team__item:nth-child(2)
      height: 355px
      order: 2
   .team__item:nth-child(3)
      height: 355px
      order: 4
   .team__item:nth-child(4)
      order: 3
      height: 375px
   .team__item:nth-child(4) .team__content
      margin-top: auto
   .order__box
      flex-direction: column-reverse
   .order__side:nth-child(2), .order__side:first-child
      width: 100%
   .order__text
      margin-bottom: 120px
   .order__form
      max-width: 100%
   .order__form button
      margin-top: 0
      width: 100%
   .order__item
      width: 108px
   .order__light 
      opacity: 0.5
      top: 21px
      left: 0
      width: 184%
      transform: rotate(-122deg)
   .footer
      padding-top: 50px
   .footer__box
      flex-direction: column
   .footer__info a
      font-size: 24px
   .footer__info img
      margin-bottom: 35px
   .footer__content
      max-width: 100%
   .call h2
      margin-bottom: 50px
   .call .order__form
      flex-direction: column
      align-items: flex-start
   .call .order__form input 
      margin-bottom: 39px
      width: 100%
   .call .order__form input:first-of-type
      margin-right: 0
   .team-page .team__item
      padding: 30px !important
      width: 100%
      height: 509px !important
   .main-news__info
      margin-top: 60px
      justify-content: flex-start
   .main-news
      padding-bottom: 36px
   .news-item
      padding: 50px 0
   .news-item article p
      font-size: 16px
      line-height: 24px
      margin-bottom: 36px
   .news-item article h2.news-item__title
      font-size: 44px
      line-height: 44px
      margin-top: 10px
   .oferta
      padding: 50px 0
   .oferta__box h1
      margin-bottom: 50px
   .oferta__box p
      font-size: 16px
      line-height: 26px
   .oferta__item
      margin-bottom: 36px
   .contacts
      padding-top: 50px
   .contacts h1
      margin-bottom: 50px
   .contacts__info
      margin-bottom: 32px
      gap: 34px
      flex-direction: column 
      align-items: flex-start
   .contacts__info a
      font-size: 32px
      line-height: 32px
   .contacts__row
      flex-direction: column
   .contacts__item
      width: 100%
   .contacts__text
      margin-bottom: 30px
@media screen and (max-width: 767px)
   .info__row a
      width: 100%
   .help__block
      width: 100%
      padding: 30px
   .tabs__item
      width: 100%
   .menu
      padding-top: 60px
   .menu__list
      gap: 18px
      flex-direction: column
      li 
         a 
            br 
               display: none
   .menu h2
      margin-bottom: 40px
   .menu__list li a
      margin-bottom: 16px
@media screen and (max-width: 576px)
   button:active, button:focus 
      outline: none
   button::-moz-focus-inner 
      border: 0
   a:active, a:focus
      outline: none
   input, textarea
      outline: none
   input:active, textarea:active
      outline: none
   input:focusout
      outline: none
   .mm 
      flex-direction: column 
      align-items: center
      justify-content: center
      li 
         margin-bottom: 40px !important
         width: 100% !important
         margin-top: 0 !important
   .mob 
      display: block !important
   .nav__logo
      display: block
      width: 156px
      img 
         width: 100%
         object-fit: contain
   h2 
      font-size: 40px
   .info, .help, .cases
      padding: 40px 0
   .help__area p
      max-width: 273px
      br 
         display: none
   .tabs__btns a
      font-size: 14px
   .team__item
      padding-left: 20px !important
   .team__item:nth-child(1) .team__name
      font-size: 28px
   .team
      padding-bottom: 50px
   .team__item:nth-child(2)
      img 
         object-position: 0 0px
   .team__item:nth-child(4)
      img 
         object-position: 0 -144px
   .footer__com
      position: absolute
      bottom: 20px
      z-index: 5
      right: 20px
      p
         color: white
   .footer__com p:before
      background: white
   .footer__com img:nth-child(2)
      display: block
   .footer__com img:nth-child(1)
      display: none
   .footer__rights
      line-height: 14px
      font-size: 10px
   .order__form button
      background: white
      &:hover
         background: $yel
   .banner 
      .main__pic
         object-position: 0px 0px
   .how__area
      flex-direction: column
   .how__item
      width: 100%
      &:first-child
         margin-bottom: 18px
   .how__item:first-child p
      margin-bottom: 20px
   .how__flex
      flex-direction: column
   .how__link
      margin-bottom: 48px
   .how__logo
      padding-left: 28px
      width: 100%
      justify-content: flex-start
   .how__right
      max-width: 100%
   .how__top
      padding: 33px
   .swiper1 
      overflow: hidden
   .menu
      padding-top: 40px
   .menu__list li
      &:nth-child(n+9)
         display: none
   .team-page .team__item:first-child img
      object-position: 0
   .info-page .info__row a p
      white-space: initial
   .help-page .help__block
      padding: 30px
      width: 100%
   .help-page .help__block span
      margin-bottom: 25px
   .cases-page .tabs__item .tabs__sub
      right: 30px
   .team-page .container
      padding: 0
   .team-page h2
      padding: 0 15px
   .how__block h3
      font-size: 24px
   .news-item__images
      gap: 10px
      flex-direction: column
      img 
         width: 100%




   